  body {
    background-color: orange;
	 border: 10px solid white;
	 border-width: 5px;
    padding: 10px;
	  margin: 10px;
	  text-align:center;

	  }
 .clear{
    clear:both;
	}  
 
  .mycontrols{
  align:center;
  margin:50px;
  padding:20px;
  height:30em;
  width:50em;
	border:10px solid #888;	
	-moz-border-radius:5px;  
  	-webkit-border-radius: 5px;  
  	border-radius:5px;
	background-color:#000;
  
  }
  
  .clear{
    clear:both;
	}
  #notes{
   text-decoration:none;
  color:#000;
  background:#ffc;
  display:block;
  height:10em;
  width:10em;
  padding:5em;
  }
  .clear{
    clear:both;
	}
	 